input{
  padding: 1rem 2rem;
  border: 1px solid rgba($dark, .3);
  border-right: none;
  border-radius: 2.5rem 0 0 2.5rem;
  background: none;
  color: $dark;
  font-size: 1.1rem;


  &::placeholder{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: lighter;
  }
}

button{
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid rgba($dark, .3);
  background-color: $alert;
  border-radius: 0 2.5rem 2.5rem 0;
}
